<div class="html-detail">
<div class="header-detail">
  
  <img src="{{stack.image}}" class="image-detail" alt="Porqué no sale la imagen? :(">
  <div class="shadow">
  
    <div class="info-detail">
      <h1>{{stack.title}}</h1>
      <h4>{{stack.timeInHours}}h // {{stack.category}} // by {{stack.createdBy}}</h4>
    </div>
  </div>
</div>
<div class="body-detail">
  <div class="description-detail">
    <p>{{stack.description}}</p>
  </div>
  <div class="steps-detail">
    {{#each stack.steps}}
    <div class="one-step">
      <div class="step-number-detail">
        <h3>{{order}}</h3>
      </div>
      <div class="step-desc-detail">
        <h2>{{title}} </h2>
        <p>{{instruction}}</p>
      </div>
      <div class="step-source-detail">
        <div>{{resource.url}}</div>
      </div>
      <div class="time-step-detail">
        <p><div class="bar-detail"> </div>{{timeInMinutes}}m</p>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="last-div">
  <h1>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAND ITS DONE! 🚀</h1>
  </div>
</div>
</div>